.tabs-container {
  display: flex;
  font-family: 'Lato', sans-serif !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  border-radius: 0px !important;         
  border-bottom: 1px solid transparent !important;
  letter-spacing: .12em;
  white-space: normal;
  min-width: 23%;  
  line-height: 1.7;
  height: 80px; 
}  

.tabs-active > div > div {
  min-width: auto !important;
  height: 80px !important;
}

.tabs-active {
  color: #747a7e !important;  
  background-color: #fff !important;
  border-right: 1px solid #ddd !important;  
}

.tabs-active:first-child {
  border-left: none !important;
  border-right: 1px solid #ddd !important;  
}

.tabs-inactive {
  color: #313537 !important;  
  background-color: #F5F5F5 !important;
  border-right: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
}

.tabs-content{
  font-family: 'Merriweather', serif;
  font-weight: 300;    
  color: #313537;
  padding: 10px 35px;
  line-height: 1.65;
  font-size: 15px;
  letter-spacing: .02em;
}

.content-image{
  margin-top: 25px;
  max-width: 100%;
  height: auto;
}