 .tabs-container {
  font-family: 'Lato', sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  border-radius: 0px !important;         
  border-bottom: 1px solid transparent !important;
  letter-spacing: .12em;
  line-height: 1.8px;
   min-width: 23%; 
}  

 .tabs-active {
  color: #747a7e !important;  
  background-color: #fff !important;
}  

.tabs-inactive {
  color: #313537 !important;  
  background-color: #F5F5F5 !important;
}

.tabs-content{
  font-family: 'Merriweather', serif;
  font-weight: 300;    
  color: #313537;
  padding: 10px 35px;
  line-height: 1.65;
  font-size: 15px;
  letter-spacing: .02em;
}

.content-image{
  margin-top: 25px;
  max-width: 100%;
  height: auto;
}